* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;

}

body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

#nav {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 40;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#main {
    background-color: rgb(0, 0, 0);
    color: white;
}

#main h1 {
    font-size: 23vh;
    font-weight: bold;
    font-family: sans-serif;
}

.line1 {
    padding-top: 20vh;
}

#video-container {
    width: 100%;
    height: 100vh;
    margin-top: 10vh;
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0px;
}

#video-container #play {
    width: 70px;
    height: 70px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: sans-serif;
    font-weight: bold;
    position: fixed;
    opacity: 0;
    transform: translate(-50%, -50%);
}

#page2 {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.elem {
    width: 30%;
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#page2 .elem .dets {
    width: 80%;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    transition: all ease 0.7s;
    background-color: #ffffffa9;
    color: black;
    z-index: 2;
    overflow: hidden;

}

#page2 .elem .dets:hover {
    height: 160px;
    border-radius: 20px;
    opacity: 1;
}

#page2 .elem .dets p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 0;
    width: 100%;
    transition: opacity 0.7s ease, padding-top 0.7s ease;
}

#page2 .elem .dets:hover p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    opacity: 1;
    margin-top: 10px;
}

#page3 {
    width: 100%;
    min-height: 140vh;
    background-color: rgb(0, 0, 0);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 4vw;
    row-gap: 100px;
}

.child {
    background-color: transparent;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}

.child h4 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.child img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#cursor {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

#nav svg {
    padding-top: 20px;
    padding-left: 10px;
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-right: 10px;
    margin: 30px 30px;
}

#nav2 #links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 40px;
    padding: 10px;
}

#nav2 #icons {
    font-weight: 400px;
    display: flex;
    gap: 50px;
    color: rgb(98, 98, 98);
}

#nav1 svg {
    display: block;
}

#nav1 {
    height: 100px;
    width: 200px;
    overflow: hidden;
}

#cursor {
    pointer-events: none;
}

#page4 {
    width: 100%;
    min-height: 140vh;
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

#page4 p {
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 2;
}

#page4 h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding-left: 20px;
}

#images {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-right: 30px;
}

#images img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
}





/* loginpagecss */


#page5{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background-image: url("https://images.unsplash.com/photo-1764366795867-a0e7fcbf791e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.loginform h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: solid 5px white;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 70px;
}


form label{
    padding:20px;
}

form input {
    width: 300px;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
    border: solid 2px white;
    padding: 15px;
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: solid 2px rgb(232, 220, 220);
    background-color: white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    
}

#btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    font-size: large;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}











